@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: radial-gradient(circle at center, #0f172a, #020617);
    background-color: #020617;
    color: white;  
}

body {
    background-image: linear-gradient(to right, #69696912 1px, transparent 1px),
    linear-gradient(to bottom, #69696912 1px, transparent 1px);
  background-size: 28px 28px;
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 50%,
    transparent 200%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000000 50%,
    transparent 200%
  );
}

.hide-question {
  height: 0px;
  top: 500px;
  transition: all 0.3s ease-in-out;
}

.show-question { 
  padding: 0.75rem;
  transition: all 0.3s ease-in-out;
  animation-name: showQuestion;
  animation-duration: 0.3s;
}

@keyframes showQuestion {
  0% {
    opacity: 0;
    height: 0px;
    top: 500px;
  }

  100% {
    opacity: 1;
    height: 100%;
    top: 0;
  }
}

.menu-active {
  border-bottom: 2px solid #7c3aed;
  border-radius: 1px;
  width: 60px;
  padding-bottom: 5px;
  animation-name: animateBorder;
  animation-duration: 0.4s;
}

@keyframes animateBorder {
  0% {
    width: 0px;
  }
   
  100% {
    width: 60px;
  }
}

      

