@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lato', sans-serif;
}

html {
    background-image: radial-gradient(circle at center, #0f172a, #020617);
    background-color: #020617;
    color: white;  
}

body {
    background-image: linear-gradient(to right, #69696912 1px, transparent 1px),
    linear-gradient(to bottom, #69696912 1px, transparent 1px);
  background-size: 28px 28px;
  mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000 50%,
    transparent 200%
  );
  -webkit-mask-image: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    #000000 50%,
    transparent 200%
  );
}

      

